---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am an aspiring professional Software Developper from Algeria, intrested in all that is related to computers and thechnologies, currently intrested in low-level and embedded systems
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor's Degree in Information Thechnology"
      subtitle="2019 to 2022 at Universite Abdelhamid Mehri Constantine 2, Constantine, Algeria"
    />
    <TimeLineElement
      title="Master's Degree in Information Thechnology"
      subtitle="2022 to 2024 at Universite Abdelhamid Mehri Constantine 2, Constantine, Algeria"
    />
  </div>







  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="flex flex-wrap gap-8 mb-10">
    <!--
      list-disc md:columns-5 columns-2 mx-6
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
    -->

    <img class="h-16" src="https://user-images.githubusercontent.com/25181517/192158954-f88b5814-d510-4564-b285-dff7d6400dad.png"><img class="h-16" src="https://user-images.githubusercontent.com/25181517/183898674-75a4a1b1-f960-4ea9-abcb-637170a00a75.png"><img class="h-16" src="https://user-images.githubusercontent.com/25181517/117447155-6a868a00-af3d-11eb-9cfe-245df15c9f3f.png"><img class="h-16" src="https://user-images.githubusercontent.com/25181517/183890598-19a0ac2d-e88a-4005-a8df-1ee36782fde1.png"><img class="h-16" src="https://user-images.githubusercontent.com/25181517/183568594-85e280a7-0d7e-4d1a-9028-c8c2209e073c.png"><img class="h-16" src="https://user-images.githubusercontent.com/25181517/117201156-9a724800-adec-11eb-9a9d-3cd0f67da4bc.png"><img class="h-16" src="https://user-images.githubusercontent.com/25181517/183423507-c056a6f9-1ba8-4312-a350-19bcbc5a8697.png"><img class="h-16" src="https://user-images.githubusercontent.com/25181517/183570228-6a040b9f-3ddf-47a2-a201-743121dac664.png"><img class="h-16" src="https://user-images.githubusercontent.com/25181517/192599922-3a8ceb1c-ff1d-40bc-b73c-99ea1182d8ad.png">
    <img class="h-16" src="https://user-images.githubusercontent.com/25181517/183896128-ec99105a-ec1a-4d85-b08b-1aa1620b2046.png"><img class="h-16" src="https://user-images.githubusercontent.com/25181517/182884177-d48a8579-2cd0-447a-b9a6-ffc7cb02560e.png">
    <img class="h-16" src='https://user-images.githubusercontent.com/109927235/216814086-699099d9-4c6c-4e63-b060-1fc02775fdf0.png'><img class="h-16" src="https://user-images.githubusercontent.com/25181517/183897015-94a058a6-b86e-4e42-a37f-bf92061753e5.png"><img class="h-16" src="https://user-images.githubusercontent.com/25181517/183859966-a3462d8d-1bc7-4880-b353-e2cbed900ed6.png"><img class="h-16" src="https://user-images.githubusercontent.com/109927235/233863288-7e48e786-0930-4d69-87b6-d6636d1453dc.png"> <img class="h-16" src="https://user-images.githubusercontent.com/109927235/233863311-6b083e65-4dc4-44ef-92d6-81c30ccb158b.png">
  </ul>









  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="solo dev"
      subtitle="From Aug 2022 to Current as a Solo Dev"
    >
      solo projects.
    </TimeLineElement>

    <!--
      <TimeLineElement
        title="Job Title at Project or Company Name"
        subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
      </TimeLineElement>

     -->
    
  </div>

  <!--

    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Certifications</div>
    </div>
    
    <ul class="list-disc mx-6 mb-10 grid gap-2">
      <li>
        <a href="#" target="_blank"> Certification Name (with link)</a>
      </li>
      <li>
        <a href="#" target="_blank"> Certification Name (with link)</a>
      </li>
    </ul>
  -->
    

</BaseLayout>
