---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="services">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Services</div>
  </div>

  <HorizontalCard
    title="Desktop Applications"
    img="/desktop.jpg"
    desc="Cross-Platform Desktop Applications development with Tauri of Flutter"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Full-stack development"
    img="/web.jpg"
    desc="Full-stack Development with a variation of Frontend and Backend frameworks and languages"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Backend and API development"
    img="/api.png"
    desc="JSON, REST and CRUD APIs Development"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Mobile and Android Applications"
    img="/mobile.jpg"
    desc="Cross-Platform Applications with flutter of Android Appliactions with Java"
    url="#"
  />
</BaseLayout>
