@import "tailwindcss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
  /* FONT STYLE HERE */
  font-family: "Times New Roman", Times, serif;
  color: var(--color-foreground);
  background-color: var(--color-background);
  overflow: hidden;
}

body,
#root {
  width: 100%;
  height: 100%;

  /* disable text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@import "tailwindcss";
@theme {
  --color-mint-500: oklch(0.72 0.9 200);
  --color-background: oklch(0.141 0.005 285.823);
  --color-foreground: oklch(0.985 0 0);
  --color-border: oklch(1 0 0 / 0.1); /* oklch(21% 0.034 264.665); */

  --color-orange: oklch(0.646 0.222 41.116);
  --color-blue: oklch(0.488 0.243 264.376);
  --color-green: oklch(0.696 0.17 162.48);
  --color-yellow: oklch(0.769 0.188 70.08);
  --color-purple: oklch(0.627 0.265 303.9);
  --color-red: oklch(0.645 0.246 16.439);

  --color-min: oklch(0.985 1 0);
  --color-max: oklch(1 1 16122113);
  --color-close: oklch(0.985 1 65);
  --color-terminalGreen: "#00FF00";
  --color-terminalYellow: "#FFFF66";
  --color-terminalBlue: "#66CCFF";
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.terminal-cursor {
  animation: blink 1s step-end infinite;
}

.window {
  transition: all 0.15s cubic-bezier(0.33, 1, 0.68, 1);
}
.windowScoll {
  overflow: scroll;
  scrollbar-color: #1c398e transparent;
  scrollbar-width: thin;
}

.bg-fill {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-in-out;
}

.group:hover .bg-fill {
  transform: scaleX(1);
}

#startMenu {
  @apply w-[800px] flex flex-col border border-border overflow-y-auto rounded-xl bg-black/50;
}
/*  */
#taskBar {
  @apply bg-[#ffffff10] h-12 flex flex-row backdrop-blur-md px-4 py-0.5 space-x-2 z-50;
}

/* 
.window {
  @apply flex flex-col w-[1000px] h-[800px] absolute border border-border overflow-y-auto bg-black/75 backdrop-blur-3xl;
}
.defaultWindow {
  @apply flex flex-col w-[1000px] h-[800px] absolute border border-border overflow-y-auto bg-[#191919] backdrop-blur-3xl;
}
*/

.window {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}
